/*
  DIAGNOSTIC STYLING
*/
body {
}

* {
  margin: 0;
  outline: 1px dotted black;
}

/************
LAYOUT
************/
body {
  /* Center to Page   */
  margin: 0 auto;
  padding: 1em 0;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 5;
}

aside {
  grid-column: span 2;
}


/************
HEADER
************/
/* Your Styles */


/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
header { 
  display: flex;
  background-color: black;
  height: 40vw;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}


video {
  width: 100%;
  height: 100%;
}

.mejs__time-current {
  background: red;
}
/************
Main
************/
main {
  height: 40vw;
}

.tabs {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}


.tabs li > input {
  display: none;
}

.tabs li > label {
  display: inline-block;
  border: 1px solid black;
  width: 5%;

  padding: 2%;
  cursor: pointer;
  font-size: 1vw;
}


.tabs .tab-content {
  display: none;
  position: absolute;
  left: 9%;
  top: 0;
}

.tabs li > input:checked + label {
  background-color: grey;
}

.tabs li > input:checked ~ .tab-content {
  display: block;
}

.tab-content {
  width: 100%;
  height: 100%;
}

.content1 {
  height: 20vw;
  width: 100%;
  background-color: blue;
}

.content2 {
  height: 100%;
  width: 100%;
  background-color: red;
}
.content3 {
  height: 100%;
  width: 100%;
  background-color: green;
}


}

/************
FOOTER
************/
footer {
  text-align: center;
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}